@model IEnumerable<StudentsMessenger.Models.Work>
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    <b>
        //TODO: Заполнить
    </b>
</p>
<p>
    <b>
        //TODO: Заполнить
    </b>
</p>


